name: learn-github-actions
on: [push]
jobs:
  build-linux:
    runs-on: ubuntu-20.04
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: 
          node-version: '14'
      - name: openwrt lede
        run: |
         sudo apt-get update
         sudo apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 python2.7 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler g++-multilib antlr3 gperf wget curl swig rsync
         git clone https://github.com/coolsnowwolf/lede
         ./lede/scripts/feeds update -a
         ./lede/scripts/feeds install -a
         make -j8 download V=s
      - name: make menuconfig
        run: |
         make -j1 V=s
