name: test-Github-Action
on: [push]
jobs:
  test-Action:
    runs-on: ubuntu-18.04
    steps:
      - name: 初始化
      - uses: actions/checkout@v2
      - name: Python3.8.10环境
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8.10'
          architecture: 'x64'
      - name: Git clone lede
        run: |
          sudo apt update
          sudo apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 python2.7 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler g++-multilib antlr3 gperf wget curl swig rsync
          git clone https://github.com/coolsnowwolf/lede
      - name: feeds update
        run: |
          cd lede
          lede/scripts/feeds update -a
          lede/scripts/feeds install -a
      - name: SSH True
        uses: P3TERX/ssh2actions@main
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}