name: npm install music
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: |
          git clone https://gitee.com/ix64/unlock-music
          cd unlock-music/
      - name: npm build
        run: |
          cd unlock-music/
          npm install
          npm run build
          cd dist/
      - name: Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "v0.0.1"
          prerelease: false
          files: |
            dist/*
