name: npm install music
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install -g bats
      - name: git clone unlock-music
      - run: |
          git clone https://gitee.com/ix64/unlock-music
          cd unlock-music/
          npm install
      - name: Start SSH via tmate
        uses: P3TERX/ssh2actions@main
        env:
            TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
            TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
